{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<body>
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-6"><img src="https://images.pexels.com/photos/163141/instagram-social-media-web-pages-internet-163141.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></div>
    <div class="col-md-6" style="color:rgb(100, 119, 119);padding:50px;font-family: serif;">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center"><a href="/accounts/register/">Sign In</a></h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
   
  </div>
</div>

{% endblock %}
</body>